/**
 * @file
 * Block Styling
 */
/* line 9, ../sass/blocks.scss */
.sidebar .block {
  border-top-left-radius: 10px;
  -moz-border-top-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  background-color: #edede7;
  padding-left: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
}
/* line 16, ../sass/blocks.scss */
.sidebar .block h2.block-title {
  font-size: 16px;
  line-height: 12px;
}

/* line 22, ../sass/blocks.scss */
.block {
  /* Block wrapper */
  margin-bottom: 1.5em;
}
/* line 27, ../sass/blocks.scss */
.block.first {
  /* The first block in the region */
}
/* line 30, ../sass/blocks.scss */
.block.last {
  /* The last block in the region */
}
/* line 33, ../sass/blocks.scss */
.block.odd {
  /* Zebra striping for each block in the region */
}
/* line 36, ../sass/blocks.scss */
.block.even {
  /* Zebra striping for each block in the region */
}
/* line 39, ../sass/blocks.scss */
.block h2.block-title {
  /* Block title */
}

/* line 44, ../sass/blocks.scss */
#block-aggregator-category-1 {
  /* Block for the latest news items in the first category */
}

/* line 47, ../sass/blocks.scss */
#block-aggregator-feed-1 {
  /* Block for the latest news items in the first feed */
}

/* line 50, ../sass/blocks.scss */
#block-block-1 {
  /* First block created with "Add block" link */
}

/* line 53, ../sass/blocks.scss */
#block-blog-recent {
  /* "Recent blog posts" block */
}

/* line 56, ../sass/blocks.scss */
#block-book-navigation {
  /* "Book navigation" block for the current book's table of contents */
}

/* line 59, ../sass/blocks.scss */
#block-comment-recent {
  /* "Recent comments" block */
}

/* line 62, ../sass/blocks.scss */
#block-forum-active {
  /* "Active forum topics" block */
}

/* line 65, ../sass/blocks.scss */
#block-forum-new {
  /* "New forum topics" block */
}

/* line 68, ../sass/blocks.scss */
#block-locale-language {
  /* Language switcher block */
}

/* line 71, ../sass/blocks.scss */
#block-menu-menu-NAME {
  /* Custom menu block */
}

/* line 74, ../sass/blocks.scss */
#block-node-recent {
  /* "Recent content" block */
}

/* line 77, ../sass/blocks.scss */
#block-node-syndicate {
  /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */
}

/* line 80, ../sass/blocks.scss */
#block-poll-recent {
  /* "Most recent poll" block */
}

/* line 83, ../sass/blocks.scss */
#block-profile-author-information {
  /* "Author information" block for the profile of the page's author */
}

/* line 86, ../sass/blocks.scss */
#block-search-form {
  /* "Search form" block */
  padding-top: 12px;
  padding-bottom: 5px;
  border-top-left-radius: 10px;
  -moz-border-top-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
}

/* line 91, ../sass/blocks.scss */
#search-form input.form-submit {
  margin-left: 0;
  margin-right: 0;
  height: 25px;
  width: 34px;
  padding: 0;
  cursor: pointer;
  text-indent: -9999px;
  border-color: #e4e4e4 #d2d2d2 #b4b4b4;
  background: url(../images/search-button.png) no-repeat center top;
  overflow: hidden;
}

/* line 103, ../sass/blocks.scss */
#block-shortcut-shortcuts {
  /* "Shortcuts" block */
}

/* line 106, ../sass/blocks.scss */
#block-statistics-popular {
  /* "Popular content" block */
}

/* line 109, ../sass/blocks.scss */
#block-system-main-menu {
  /* "Main menu" block */
}

/* line 112, ../sass/blocks.scss */
#block-system-management {
  /* "Management" block for Drupal management menu */
}

/* line 115, ../sass/blocks.scss */
#block-system-navigation {
  /* "Navigation" block for Drupal navigation menu */
}

/* line 118, ../sass/blocks.scss */
#block-system-user-menu {
  /* "User menu" block for Drupal user menu */
}

/* line 121, ../sass/blocks.scss */
#block-system-help {
  /* "System help" block */
}

/* line 124, ../sass/blocks.scss */
#block-system-main {
  /* "Main page content" block */
}

/* line 127, ../sass/blocks.scss */
#block-system-powered-by {
  /* "Powered by Drupal" block */
}

/* line 130, ../sass/blocks.scss */
#block-user-login {
  /* "User login form" block */
}

/* line 133, ../sass/blocks.scss */
#block-user-new {
  /* "Who's new" block for a list of the newest users */
}

/* line 136, ../sass/blocks.scss */
#block-user-online {
  /* "Who's online" block for a list of the online users */
}
